<html>
    <head></head>
    <body>
        <p>
            Modify this page to include a form where users can submit an XML file.
            When they click on the submit button, the XML file should be converted into JSON and
            returned to the user.

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="file">
                <button type="submit">Upload</button>
            </form>
        </p>
    </body>
</html>




